// $primary: #0074d9;
$danger: #ff4136;
// $success: #2ECC71;
$success: #17a589;
$primary: #3498db;
$warning: #e0a800;
$cyan: #0dcaf0;

$btn-border-radius: 1rem;
$modal-content-bg: #374357;
@import "../node_modules/bootstrap/scss/bootstrap";
