<!-- <div class="container my-3 border border-secondary rounded p-3">
  <div class="mb-3">
    <h4 class="d-flex justify-content-between border-bottom">
      Mis datos personales
      <small>
        <a role="button" class="btn-link link-light" routerLink="/dashboard">
          <i class="fa-solid fa-xmark"></i>
        </a>
      </small>
    </h4>
  </div>
  <div class="row">
    <div class="col col-sm-8 mx-auto">
      <div class="row justify-content-center">
        <div class="col-auto justify-content-center m-3">
          <div
            class="border border-3 d-flex justify-content-center align-items-center rounded-circle mx-auto"
            style="height: 80px; width: 80px"
          >
            <img
              src="../../../../../assets/img/User_icon_2.svg"
              alt="user.png"
              class="img-fluid"
            />
          </div>
          <div class="text-center" >{{ fgUserLogged.get("profile")?.value | uppercase }}</div>
        </div>
      </div>
      <form [formGroup]="fgUserLogged" name="fgUserLogged" class="text-dark">
        <div class="d-flex justify-content-between mb-3">
          <div class="form-floating flex-fill me-2">
            <input
              type="text"
              class="form-control"
              id="firstname"
              placeholder="Nombre"
              formControlName="firstName"
            />
            <label for="firstname">Nombre</label>
          </div>
          <button type="button" class="btn btn-link link-warning" (click)="edit('firstName')">
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
          </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <div class="form-floating flex-fill me-2">
            <input
              type="text"
              class="form-control"
              id="lastname"
              placeholder="Apellido"
              formControlName="lastName"
            />
            <label for="lastname">Apellido</label>
          </div>
          <button type="button" class="btn btn-link link-warning" (click)="edit('lastName')">
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
          </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <div class="form-floating flex-fill me-2">
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder="Apellido"
              formControlName="email"
            />
            <label for="email">Email</label>
          </div>
          <button type="button" class="btn btn-link link-warning">
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
          </button>
        </div>
        <div class="d-flex justify-content-between mb-3">
          <div class="form-floating flex-fill me-2">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Constraseña"
              formControlName="password"
            />
            <label for="password">Constraseña</label>
          </div>
          <button type="button" class="btn btn-link link-warning">
            <i class="fa-regular fa-pen-to-square fa-xl"></i>
          </button>
        </div>
        <div class="d-flex justify-content-center gap-2">
          <button type="button" class="btn btn-danger">Cancelar</button>
          <button type="button" class="btn btn-success">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div> -->
<div class="container position-relative my-3 card-100 p-3">
  <div class="mb-3 px-2 py-1">
    <h4 class="d-flex justify-content-between border-bottom">
      Mis datos personales
      <small>
        <a
          role="button"
          class="btn-link link-secondary"
          routerLink="/dashboard"
        >
          <i class="fa-solid fa-xmark"></i>
        </a>
      </small>
    </h4>
  </div>
  <div class="row">
    <div
      class="col col-md-10 col-xxl-7 m-auto rounded-3 shadow-lg p-3 bg-200 text-200 rounded"
    >
      <div class="row">
        <div class="col-auto my-auto mx-auto text-dark">
          <div
            class="d-flex flex-column justify-content-center align-items-center"
            style="height: 150px; width: 150px"
          >
            <div
              class="border border-3 d-flex justify-content-center align-items-center rounded-circle mx-auto h-75 w-75"
            >
              <!-- <i class="fa-regular fa-user fa-2xl m-auto"></i> -->
              <img
                src="../../../../../assets/img/logo/logoccp1.png"
                alt="user.png"
                class="h-75 w-75"
              />
            </div>
            <div class="text-center text-200 mt-1">
              {{ fgUserLogged.get("profile")?.value | uppercase }}
            </div>
          </div>
        </div>
        <div class="col my-auto">
          <ul class="list-group list-group-flush">
            <li
              class="list-group-item d-flex align-items-center border-secondary"
            >
              <b>Nombre:</b>&nbsp;{{ user._firstName | uppercase }}
              <button
                type="button"
                class="btn btn-link link-warning ms-auto"
                (click)="edit(1)"
              >
                <i class="fa-regular fa-pen-to-square fa-lg"></i>
              </button>
            </li>
            <li
              class="list-group-item d-flex align-items-center border-secondary"
            >
              <b>Apellido:</b>&nbsp;
              {{
                user._lastNAme
                  ? user._lastNAme
                  : ("No se actualizó el campo" | uppercase)
              }}
              <button
                type="button"
                class="btn btn-link link-warning ms-auto"
                (click)="edit(2)"
              >
                <i class="fa-regular fa-pen-to-square fa-lg"></i>
              </button>
            </li>
            <li
              class="list-group-item d-flex align-items-center border-secondary"
            >
              <b>Email:</b>&nbsp; {{ user._email }}
            </li>
            <li
              class="list-group-item d-flex align-items-center border-bottom border-secondary"
            >
              <b>Contraseña:</b>&nbsp; {{ "***********" }}
              <button
                type="button"
                class="btn btn-link link-warning ms-auto"
                (click)="edit(3)"
              >
                <i class="fa-regular fa-pen-to-square fa-lg"></i>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="position-absolute top-0 start-0 d-flex justify-content-center align-items-center h-100 w-100"
  style="background-color: rgba(0, 0, 0, 0.555)"
  tabindex="-1"
  *ngIf="fgEdit"
>
  <div
    class="text-dark shadow-lg mb-5 bg-300 rounded rounded-3"
    style="width: 18rem"
  >
    <h4 class="text-center text-200 p-3 border-bottom border-secondary">
      Modificar {{ subTitle }}
    </h4>
    <form action="" class="px-3 pb-3 text-200" [formGroup]="fgEdit">
      <div class="mb-3" *ngIf="opSel != 3">
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          [placeholder]="editPlaceHolder"
          formControlName="name"
          [ngClass]="{
            'is-invalid':
              (fgEdit.controls['name'].touched || submitted) &&
              fgEdit.controls['name'].errors
          }"
        />
        <small
          class="text-danger"
          *ngIf="(fgEdit.controls['name']?.touched || submitted) && fgEdit.controls['name'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
      <ng-container *ngIf="opSel == 3">
        <div class="mb-3">
          <div class="position-relative">
            <input
              [type]="showPass ? 'text' : 'password'"
              class="form-control"
              [autocomplete]="false"
              placeholder="Contraseña actual"
              id="currentPassword"
              aria-label="current password"
              formControlName="currentPassword"
              [ngClass]="{
                'is-invalid':
                  (fgEdit.controls['currentPassword'].touched || submitted) &&
                  fgEdit.controls['currentPassword'].errors
              }"
            />
            <a
              *ngIf="!fgEdit.controls['currentPassword'].errors"
              class="position-absolute end-0 top-50 translate-middle-y me-2"
              type="button"
              role="button"
              (click)="togglePassVisibility()"
            >
              <i
                class="fa-regular {{
                  showPass ? 'fa-eye-slash' : 'fa-eye'
                }} text-dark"
              ></i>
            </a>
          </div>
          <small
            class="text-danger"
            *ngIf="(fgEdit.controls['currentPassword']?.touched || submitted) && fgEdit.controls['currentPassword'].errors?.['required']"
          >
            Campo obligatorio
          </small>
        </div>
        <div class="mb-3">
          <div class="position-relative">
            <input
              type="password"
              class="form-control"
              [autocomplete]="false"
              placeholder="Nueva contraseña"
              id="newPassword"
              aria-label="new password"
              formControlName="newPassword"
              [ngClass]="{
                'is-invalid':
                  (fgEdit.controls['newPassword'].touched || submitted) &&
                  fgEdit.controls['newPassword'].errors
              }"
            />
          </div>
          <small
            class="text-danger"
            *ngIf="(fgEdit.controls['newPassword']?.touched || submitted) && fgEdit.controls['newPassword'].errors?.['required']"
          >
            Campo obligatorio
          </small>
        </div>
        <div class="mb-3">
          <div class="position-relative">
            <input
              type="password"
              class="form-control"
              [autocomplete]="false"
              placeholder="Repetir contraseña"
              id="repeatNewPassword"
              aria-label="repeat new password"
              formControlName="repeatNewPassword"
              [ngClass]="{
                'is-invalid':
                  (fgEdit.controls['repeatNewPassword'].touched || submitted) &&
                  fgEdit.controls['repeatNewPassword'].errors
              }"
            />
          </div>
          <small
            class="text-danger"
            *ngIf="(fgEdit.controls['repeatNewPassword']?.touched || submitted) && fgEdit.controls['repeatNewPassword'].errors?.['required']"
          >
            Campo obligatorio
          </small>
          <small
            class="text-danger d-block"
            *ngIf="(fgEdit.get('newPassword')?.touched || submitted) && fgEdit.errors?.['mismatch']"
          >
            No coinciden las contraseñas
          </small>
        </div>
        <div class="text-end mb-3">
          <a
            type="button"
            role="button"
            class="btn-link link-light text-200"
            routerLink="/us/forgot-password"
            >Olvidé mi contraseña</a
          >
        </div>
      </ng-container>
      <div class="d-flex justify-content-center gap-2">
        <button
          type="button"
          class="btn btn-warning text-200"
          (click)="cancelEdit()"
        >
          <i class="fa-solid fa-xmark"></i> Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success text-200"
          (click)="save()"
        >
          <i class="fa-solid fa-check"></i> Aceptar
        </button>
      </div>
    </form>
  </div>
</div>
