.card-100{
    position: relative;
    color: #e0e0e0;
    /* background-color: #1F3A5F ; */
    border-radius: 2rem;
    border: solid 2px #4d648d ;
    /* box-shadow: 0 0 5px #4d648d; */
    overflow: hidden;
}
.card-info{
    border-radius: 8px;
    background: var(--surface-card);
    /* padding: 16px; */
    box-sizing: border-box;
    position: relative;
    color: #e0e0e0;
    border: 1px solid var(--surface-border);
    }