<div class="container position-relative my-3 card-info p-3">
  <div class="">
    <h3 class="d-flex justify-content-between border-bottom">
      Administración de películas
      <small>
        <a
          type="button"
          role="button"
          class="btn-link link-secondary"
          (click)="close()"
        >
          <i class="fa-solid fa-xmark"></i>
        </a>
      </small>
    </h3>
  </div>
  <div class="container-sm my-3 p-2 m-0 bg-100">
    <ul class="nav nav-pills justify-content-end">
      <li class="nav-item">
        <button
          class="nav-link text-white"
          [class.active]="optSel == 'A'"
          (click)="agregar()"
        >
          Agregar película
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link text-white"
          aria-current="page"
          [class.active]="optSel == 'L'"
          (click)="verRepo()"
        >
          Repositorio
        </button>
      </li>
    </ul>
  </div>
  <!--repo-->
  <div *ngIf="optSel == 'L'">
    <form class="d-flex justify-content-end my-3">
      <div class="input-group input-group-sm" style="width: 300px">
        <input
          type="search"
          class="form-control"
          type="search"
          placeholder="Buscar película"
          aria-label="Buscar"
          aria-describedby="button-addon2"
        />
        <button
          class="btn btn-outline-success"
          type="button"
          id="button-addon2"
        >
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
    <app-views-pelicula
      ver="lista"
      (emitPeli)="getPeliSel($event)"
    ></app-views-pelicula>
  </div>
  <!--nueva pelicula-->
  <form class="text-200" [formGroup]="fgMovie" *ngIf="optSel != 'L'">
    <!-- titulo, diracion genero... -->
    <fieldset>
      <legend class="border-bottom text-light">Ficha técnica</legend>
      <div class="row mb-3">
        <div class="col">
          <label for="nameMovie" class="form-label">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nameMovie"
            placeholder="Nombre"
            formControlName="nombre"
            [ngClass]="{
              'is-invalid':
                (fgMovie.controls['nombre'].touched || submitted) &&
                fgMovie.controls['nombre'].errors
            }"
          />
          <small
            class="text-danger"
            *ngIf="(fgMovie.controls['nombre']?.touched || submitted) && fgMovie.controls['nombre'].errors?.['required']"
          >
            Campo obligatorio
          </small>
        </div>
        <div class="col-3">
          <label for="relaseMovie" class="form-label">Año de estreno</label>
          <input
            type="text"
            class="form-control"
            id="relaseMovie"
            placeholder="Año de estreno"
            formControlName="anioEstreno"
            [ngClass]="{
              'is-invalid':
                (fgMovie.controls['anioEstreno'].touched || submitted) &&
                fgMovie.controls['anioEstreno'].errors
            }"
          />
          <small
            class="text-danger"
            *ngIf="(fgMovie.controls['anioEstreno']?.touched || submitted) && fgMovie.controls['anioEstreno'].errors?.['required']"
          >
            Campo obligatorio
          </small>
          <small
            class="text-danger"
            *ngIf="fgMovie.controls['anioEstreno'].errors?.['pattern']"
          >
            Requiere dato num&eacute;rico. De 4 cifras que comiencen con 19 o
            20.
          </small>
        </div>
        <div class="col-3">
          <label for="lengthMovie" class="form-label">Duración</label>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              id="lengthMovie"
              placeholder="Duracion"
              formControlName="duracion"
              [ngClass]="{
                'is-invalid':
                  (fgMovie.controls['duracion'].touched || submitted) &&
                  fgMovie.controls['duracion'].errors
              }"
            />
            <span class="input-group-text" id="lengthMovie"> Minutos </span>
          </div>

          <small
            class="text-danger"
            *ngIf="(fgMovie.controls['duracion']?.touched || submitted) && fgMovie.controls['duracion'].errors?.['required']"
          >
            Campo obligatorio
          </small>
          <small
            class="text-danger"
            *ngIf="fgMovie.controls['duracion'].errors?.['pattern']"
          >
            Requiere dato num&eacute;rico
          </small>
        </div>
      </div>
      <div class="row mb-3">
        <!--genero-->
        <div class="col position-relative">
          <label class="form-label" for="selgenero">Géneros</label>
          <div class="mb-3" [formGroup]="genreMovieF">
            <select
              class="form-select text-dark"
              id="selgenero"
              aria-label="select generes"
              formControlName="name"
              [ngClass]="{
                'is-invalid': genreListAdded.length <= 0 && submitted
              }"
              (change)="addGenreMovie()"
            >
              <option [ngValue]="null" [disabled] selected>
                Seleccione...
              </option>
              <option *ngFor="let item of generesList" [ngValue]="item.NOMBRE">
                {{ item.NOMBRE }}
              </option>
            </select>
            <small
              class="text-danger"
              *ngIf="genreListAdded.length <= 0 && submitted"
            >
              Requiere agregar al menos un g&eacute;nero
            </small>
          </div>
          <div
            *ngIf="genreListAdded.length > 0"
            class="border border-secondary rounded p-3"
          >
            <span>Se Agreg&oacute;:</span>
            <ul
              class="list-group list-group-flush w-75 mx-auto"
              formArrayName="generos"
            >
              <li
                class="list-group-item bg-transparent text-light-100 d-flex justify-content-between align-items-center border-secondary"
                *ngFor="let item of genreListAdded; index as i"
                [formGroupName]="i"
              >
                <span>{{ item.get("nombre")?.value }}</span>
                <button
                  class="btn btn-sm btn-unstyled border-0 text-danger"
                  (click)="deleteItem(i)"
                >
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <!--clasificacion-->
        <div class="col">
          <label for="calif" class="form-label">Clasificación</label>
          <input
            type="text"
            class="form-control"
            id="calif"
            placeholder="Calificacion"
            formControlName="calificacion"
            [ngClass]="{
              'is-invalid':
                (fgMovie.controls['calificacion'].touched || submitted) &&
                fgMovie.controls['calificacion'].errors
            }"
          />
          <small
            class="text-danger"
            *ngIf="(fgMovie.controls['calificacion']?.touched || submitted) && fgMovie.controls['calificacion'].errors?.['required']"
          >
            Campo obligatorio
          </small>
        </div>
      </div>
      <!-- sinopsis -->
      <div class="mb-3">
        <label for="sinopsis" class="form-label">Sinopsis</label>
        <textarea
          class="form-control"
          id="sinopsis"
          rows="3"
          formControlName="sinopsis"
          [ngClass]="{
            'is-invalid':
              (fgMovie.controls['sinopsis'].touched || submitted) &&
              fgMovie.controls['sinopsis'].errors
          }"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="(fgMovie.controls['sinopsis']?.touched || submitted) && fgMovie.controls['sinopsis'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
    </fieldset>
    <!--Elenco-->
    <fieldset>
      <legend class="mb-3 text-light border-bottom border-secondary">
        Reparto
      </legend>
      <button
        type="button"
        class="btn btn-primary text-light-100 mb-3"
        (click)="agregarElenco()"
      >
        Agregar nuevo miembro
      </button>
      <div
        *ngIf="castMemberAdded.length > 0"
        class="row w-75 mx-auto border border-secondary rounded"
        formArrayName="elenco"
      >
        <div
          *ngFor="let elenco of castMemberAdded; let i = index"
          [formGroupName]="i"
        >
          <div class="row mb-2">
            <div class="col">
              <label class="form-label" for="rol{{ i }}">Rol</label>
              <div class="input-group">
                <select
                  class="form-select text-dark"
                  id="rol{{ i }}"
                  aria-label="role"
                  formControlName="rol"
                >
                  <option [ngValue]="null" disabled selected>Rol...</option>
                  <option
                    *ngFor="let item of roleList"
                    [ngValue]="item.DESCRIPCION"
                  >
                    {{ item.DESCRIPCION }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col">
              <label for="nombreMember{{ i }}" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombreMember{{ i }}"
                placeholder="Nombre"
                formControlName="nombre"
                [ngClass]="{
                  'is-invalid':
                    (elenco.get('nombre')?.touched || submitted) &&
                    elenco.get('nombre')?.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="(elenco.get('nombre')?.touched || submitted) && elenco.get('nombre')?.errors?.['required']"
              >
                Campo obligatorio
              </small>
            </div>
            <div class="col">
              <label for="apMember{{ i }}" class="form-label">Apellido</label>
              <input
                type="text"
                class="form-control"
                id="apMember{{ i }}"
                placeholder="Apellido"
                formControlName="apellido"
                [ngClass]="{
                  'is-invalid':
                    (elenco.get('apellido')?.touched || submitted) &&
                    elenco.get('apellido')?.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="(elenco.get('apellido')?.touched || submitted) && elenco.get('apellido')?.errors?.['required']"
              >
                Campo obligatorio
              </small>
            </div>
            <div class="col-auto my-auto">
              <button
                class="btn btn-unstyled border-0 text-danger"
                (click)="eliminarElenco(i)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="submitted && castMemberAdded.length == 0">
        <div class="d-flex justify-content-center" role="alert">
          <span class="border rounded border-danger fs-5 p-3">
            <i class="fa-solid fa-triangle-exclamation text-danger"></i>
            Requiere agregar miembro/s al reparto de la película.
          </span>
        </div>
      </ng-container>
    </fieldset>
    <!--premios-->
    <fieldset>
      <legend class="mb-3 text-light border-bottom border-secondary">
        Premios
      </legend>
      <button
        type="button"
        class="btn btn-primary text-light-100 mb-3"
        (click)="agregarPremio()"
      >
        Agregar nuevo premio
      </button>
      <div
        *ngIf="premioFormArray.length > 0"
        class="row w-75 mx-auto border border-secondary rounded"
        formArrayName="premios"
      >
        <div
          *ngFor="let premio of premioFormArray; let i = index"
          [formGroupName]="i"
        >
          <div class="row mb-2">
            <div class="col">
              <label for="nombreMember{{ i }}" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombreMember{{ i }}"
                placeholder="Nombre"
                formControlName="nombre"
                [ngClass]="{
                  'is-invalid':
                    (premio.get('nombre')?.touched || submitted) &&
                    premio.get('nombre')?.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="(premio.get('nombre')?.touched || submitted) && premio.get('nombre')?.errors?.['required']"
              >
                Campo obligatorio
              </small>
            </div>

            <div class="col">
              <label for="nombreMember{{ i }}" class="form-label"
                >Descripcion</label
              >
              <input
                type="text"
                class="form-control"
                id="nombreMember{{ i }}"
                placeholder="Nombre"
                formControlName="descripcion"
                [ngClass]="{
                  'is-invalid':
                    (premio.get('descripcion')?.touched || submitted) &&
                    premio.get('descripcion')?.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="(premio.get('descripcion')?.touched || submitted) && premio.get('descripcion')?.errors?.['required']"
              >
                Campo obligatorio
              </small>
            </div>
            <div class="col">
              <label for="apMember{{ i }}" class="form-label">Año</label>
              <input
                type="number"
                class="form-control"
                id="apMember{{ i }}"
                placeholder="Apellido"
                formControlName="anio"
                [ngClass]="{
                  'is-invalid':
                    (premio.get('anio')?.touched || submitted) &&
                    premio.get('anio')?.errors
                }"
              />
              <small
                class="text-danger"
                *ngIf="(premio.get('anio')?.touched || submitted) && premio.get('anio')?.errors?.['required']"
              >
                Campo obligatorio
              </small>
              <small
                class="text-danger"
                *ngIf="premio.get('anio')?.errors?.['pattern']"
              >
                Requiere dato num&eacute;rico. De 4 cifras que comiencen con 19
                o 20.
              </small>
            </div>
            <div class="col-auto my-auto">
              <button
                class="btn btn-unstyled border-0 text-danger"
                (click)="eliminarPremio(i)"
              >
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <!-- imagenes y video -->
    <fieldset>
      <legend class="mb-3 text-light border-bottom border-secondary">
        Imágenes y videos
      </legend>
      <div class="mb-3">
        <label
          for="linkTrailerMovie"
          class="form-label"
          formArrayName="linkTrailer"
          >Link del triler</label
        >
        <input
          type="url"
          class="form-control"
          id="linkTrailerMovie"
          placeholder="link trailer"
          formControlName="linkTrailer"
          [ngClass]="{
            'is-invalid':
              (fgMovie.controls['linkTrailer'].touched || submitted) &&
              fgMovie.controls['linkTrailer'].errors
          }"
        />
        <small
          class="text-danger"
          *ngIf="(fgMovie.controls['linkTrailer']?.touched || submitted) && fgMovie.controls['linkTrailer'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
      <div class="mb-3">
        <label for="linkMovie" class="form-label">Link de la película</label>
        <input
          type="url"
          class="form-control"
          id="linkMovie"
          placeholder="link de la pelicula"
          formControlName="linkPelicula"
          [ngClass]="{
            'is-invalid':
              (fgMovie.controls['linkPelicula'].touched || submitted) &&
              fgMovie.controls['linkPelicula'].errors
          }"
        />
        <small
          class="text-danger"
          *ngIf="(fgMovie.controls['linkPelicula']?.touched || submitted) && fgMovie.controls['linkPelicula'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
      <div class="mb-3">
        <label for="frontPageMovie" class="form-label">Portada</label>
        <input
          type="file"
          class="form-control"
          id="frontPageMovie"
          placeholder="portada"
          formControlName="linkEstreno"
          [ngClass]="{
            'is-invalid':
              (fgMovie.controls['linkEstreno'].touched || submitted) &&
              fgMovie.controls['linkEstreno'].errors
          }"
        />
        <small
          class="text-danger"
          *ngIf="(fgMovie.controls['linkEstreno']?.touched || submitted) && fgMovie.controls['linkEstreno'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
      <div class="mb-3">
        <label for="frontPageCartelera" class="form-label">Cartelera</label>
        <input
          type="file"
          class="form-control"
          id="frontPageCartelera"
          placeholder="cartelera"
          formControlName="linkPoster"
          [ngClass]="{
            'is-invalid':
              (fgMovie.controls['linkPoster'].touched || submitted) &&
              fgMovie.controls['linkPoster'].errors
          }"
        />
        <small
          class="text-danger"
          *ngIf="(fgMovie.controls['linkPoster']?.touched || submitted) && fgMovie.controls['linkPoster'].errors?.['required']"
        >
          Campo obligatorio
        </small>
      </div>
    </fieldset>
    <!-- botones -->
    <div class="d-flex justify-content-center gap-3">
      <button class="btn btn-warning text-200" type="button">
        <i class="fa-solid fa-xmark"></i> Cancelar
      </button>
      <button
        class="btn btn-success text-200"
        type="button"
        (click)="guardar()"
      >
        <i class="fa-solid fa-check"></i> Guardar
      </button>
    </div>
  </form>
</div>
