<!--Opcion 1-->
<div class="position-relative">
<app-video-home (loaded)="start($event)"></app-video-home>
</div>
<!--Estreno1-->
<div class="position-relative mb-3" id="Estrenos">
  <app-carousel-estreno1></app-carousel-estreno1>
</div>
<!--Mas vistas-->
<div class="mb-3">
  <app-carousel-simple></app-carousel-simple>
</div>
<!--Todas-->
<!--categorias-->

<div *ngIf="!fullLoad" class="position-fixed top-0 start-0 d-flex justify-content-center align-items-center" style="height: 100vh; width: 100%; background-color: black; z-index: 5000;">
<img src="../../../../assets/img/logo/logoccp1.png" alt="" class="cargando">
</div>