<!--Opcion 1-->
<div class="position-relative" *ngIf="option == 1">
  <!-- <div class="cont-viedo">
    <video loop autoplay [muted]="true" id="video-background">
      <source src="./assets/video/VN20230831_004301.mp4" type="video/mp4" />
      Tu navegador no soporta videos en HTML5.
    </video>
    <div class="cover-video"></div>
  </div> -->
  <div class="cont-viedo" *ngIf="urlVideo">
    <video loop autoplay [muted]="true" id="video-background">
      <source src="{{urlVideo}}" type="video/mp4" />
      Tu navegador no soporta videos en HTML5.
    </video>
    <div class="cover-video"></div>
  </div>
</div>

<!--Opcion 2-->
<div class="video-bg-star" *ngIf="option == 2">
  <video autoplay loop [muted]="true">
    <source src="./assets/video/VN20230831_004301.mp4" type="video/mp4" />
    Tu navegador no soporta videos en HTML5.
  </video>
  <div class="text-info-home"></div>

  <div class="position-absolute top-50 end-0 translate-middle-y me-5">
    <div style="width: 500px">
      <div class="d-flex mx-auto" style="width: 200px; height: auto">
        <img
          src="./assets/img/Cineclub-20-anos-Logo-768x612-1-600x478.png"
          alt=""
          class="img-fluid"
        />
      </div>
      <br />
      <p class="text-center fs-3">
        El Cineclub Municipal te acompaña hace 20 años. Ahora presenta
        <b>CineclubPlay</b> para que disfrutes del mejor cine cordobés en alta
        definicion.
      </p>
      <p class="text-center">
        <b>CineclubPlay</b> <br /><i>El cine cordobés, donde estés</i>
      </p>
    </div>
  </div>
</div>

<div *ngIf="option == 3">
  <app-carousel-mini></app-carousel-mini>
  <div class="position-relative bg-dark">
    <a class="text-white ms-3" href="https://cineclubmunicipal.org.ar/">
      <img
        src="../../../../assets/img/Cineclub-20-anos-Logo-768x612-1-600x478.png"
        alt=""
        style="width: 100px; height: auto"
      />
      Ir al cineclub municipal
    </a>
  </div>
</div>
<!--Estreno1-->
<div class="position-relative mb-3" id="Estrenos">
  <app-carousel-estreno1></app-carousel-estreno1>
</div>
<!--Mas vistas-->
<div class="mb-3">
  <app-carousel-simple></app-carousel-simple>
</div>
<!--Todas-->
<!--categorias-->
<div id="todas">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-4">
    <div class="container-fluid justify-content-center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Drama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Comedia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ficcion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terror</a>
        </li>
      </ul>
    </div>
  </nav>
  <!--todas-->
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 w-75 my-3 mx-auto">
    <div *ngFor="let item of films" class="col">
      <img
        [src]="item.imagesUrlBillboard"
        class="border border-secondary rounded"
        alt="..."
        style="width: 100%; height: 100%"
      />
    </div>
  </div>
</div>
