<div class="container-fluid" *ngIf="option == 2">
  <div class="row position-relative">
    <div class="w-75">
      <video autoplay loop style="height: auto; width: 100%">
        <source
          src="./assets/video/VN20230831_004301.mp4"
          type="video/mp4"
        />
        Tu navegador no soporta videos en HTML5.
      </video>
    </div>
    <div class="text-info-home">
      <div class="position-absolute top-50 end-0 translate-middle-y me-5">
        <div style="width: 400px">
          <p class="text-center fs-3">
            Encontra todas las peliculas del cine cordobes en un solo lugar en
            alta definicon...
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div> -->

<!--Opcion 1-->
<div class="cont-viedo" *ngIf="option == 1">
  <video autoplay muted loop id="video-background">
    <source
      src="./assets/video/VN20230831_004301.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta videos en HTML5.
  </video>
</div>
<div style="height: 150px; width: auto" *ngIf="option == 1"></div>
<div class="bg-dark" style="width: 100%; height: 30px;">
<a class="text-white ms-3" href="https://cineclubmunicipal.org.ar/">Ir al cine</a>
</div>
<!--Estreno-->
<div>
  <div class="container-fluid d-flex justify-content-center mb-4">
    <div class="cont-film-estreno">
      <div class="fs-3 ms-3 mb-2">#Estrenos</div>
      <a
        type="button"
        class="sliderBtn btnLeft fs-2"
        (click)="rigth()"
        *ngIf="moveTo != 0 && wdm"
      >
        <i class="fa-solid text-white fa-angle-left"></i>
      </a>
      <a
        type="button"
        class="sliderBtn btnRight fs-2"
        (click)="left()"
        *ngIf="sizeSlider != -moveTo && wdm"
      >
        <i class="fa-solid text-white fa-angle-right"></i>
      </a>
      <div
        class="slide-estreno"
        #slider
        [ngStyle]="{ transform: 'translateX(' + moveTo + 'px)' }"
      >
        <div
          #imgfilm
          *ngFor="let item of films"
          class="col col-sm-2 col-lg-3 col-xl-3"
        >
          <div class="img-film mx-2 position-relative">
            <a routerLink="/peliculas/pelicula">
              <img
                [src]="item.imagenPath"
                class="border border-secondary rounded"
                alt="..."
                style="width: 100%; height: 100%"
              />
              <div
                class="position-absolute top-0 start-0 info-film"
                style="height: 100%; width: 100%"
              >
                <div class="ms-3">
                  <img
                    src="./assets/img/pngwing.com (1).png"
                    style="width: 20px; height: auto"
                    class="img-fluid"
                    alt=""
                  />
                  <img
                    src="./assets/img/pngwing.com (1).png"
                    style="width: 20px; height: auto"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div
                  class="position-absolute top-50 start-50 translate-middle text-center text-white"
                >
                  <p class="fs-5 text-star">
                    {{ item.nombre }}
                  </p>
                  <p>Ver mas...</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Mas vistas-->
<div>
  <div class="container-fluid d-flex justify-content-center mb-4">
    <div class="cont-film-estreno">
      <div class="fs-3 ms-3 mb-2">#Lo mas visto</div>
      <a
        type="button"
        class="sliderBtn btnLeft fs-2"
        (click)="rigth()"
        *ngIf="moveTo != 0 && wdm"
      >
        <i class="fa-solid text-white fa-angle-left"></i>
      </a>
      <a
        type="button"
        class="sliderBtn btnRight fs-2"
        (click)="left()"
        *ngIf="sizeSlider != -moveTo && wdm"
      >
        <i class="fa-solid text-white fa-angle-right"></i>
      </a>
      <div
        class="slide-estreno"
        #slider
        [ngStyle]="{ transform: 'translateX(' + moveTo + 'px)' }"
      >
        <div
          #imgfilm
          *ngFor="let item of films"
          class="col col-sm-2 col-lg-3 col-xl-3"
        >
          <div class="img-film mx-2 position-relative">
            <a routerLink="/peliculas/pelicula">
              <img
                [src]="item.imagenPath"
                class="border border-secondary rounded"
                alt="..."
                style="width: 100%; height: 100%"
              />
              <div
                class="position-absolute top-0 start-0 info-film"
                style="height: 100%; width: 100%"
              >
                <div class="ms-3">
                  <img
                    src="./assets/img/pngwing.com (1).png"
                    style="width: 20px; height: auto"
                    class="img-fluid"
                    alt=""
                  />
                  <img
                    src="./assets/img/pngwing.com (1).png"
                    style="width: 20px; height: auto"
                    class="img-fluid"
                    alt=""
                  />
                </div>
                <div
                  class="position-absolute top-50 start-50 translate-middle text-center text-white"
                >
                  <p class="fs-5 text-star">
                    {{ item.nombre }}
                  </p>
                  <p>Ver mas...</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Todas-->
<!--categorias-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-4">
  <div class="container-fluid justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Drama</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Comedia</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ficcion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Terror</a>
      </li>
    </ul>
  </div>
</nav>
<!--todas-->
<div class="row row-cols-1 row-cols-md-3 row-cols-lg-6 g-4 w-75 my-3 mx-auto">
  <div *ngFor="let item of films" class="col">
    <img
      [src]="item.imagenPath"
      class="border border-secondary rounded"
      alt="..."
      style="width: 100%; height: 100%"
    />
  </div>
</div>
<!-- <div class="cont-viedo">
  <video autoplay muted loop id="video-background">
    <source
      src="../../../../assets/video/VN20230831_005105.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta videos en HTML5.
  </video>
</div>
<div class="cont-viedo">
  <video autoplay muted loop id="video-background">
    <source
      src="../../../../assets/video/VN20230831_005756.mp4"
      type="video/mp4"
    />
    Tu navegador no soporta videos en HTML5.
  </video>
</div> -->

<!-- <div style="height: 400px; width: 100%" class="bg-light">
  <div class="row mx-0 justify-content-center">
    <div class="col-auto">
      <video autoplay muted loop>
        <source
          src="../../../../assets/video/videoCineClub.mp4"
          type="video/mp4"
        />
        <source src="../../../../assets/video/videoCineClub.webm" type="video/webm" />
        <source src="assets/videos/video.ogv" type="video/ogg" />
        Tu navegador no soporta videos en HTML5.
      </video>
    </div>
    <div class="col-auto my-auto">
      <div style="width: 70%; height: auto;">
        <img src="../../../../assets/img/Cineclub-20-anos-Logo-768x612-1-600x478.png" alt="" class="img-fluid">
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="fs-3 ms-4">#Estrenos</div>
<div class="slider-container py-3">
  <a
    type="button"
    class="sliderBtn btnLeft fs-2"
    (click)="rigth()"
    *ngIf="moveTo != 0"
  >
    <i class="fa-solid fa-angle-left"></i>
  </a>
  <a
    type="button"
    class="sliderBtn btnRight fs-2"
    (click)="left()"
    *ngIf="sizeSlider != -moveTo"
  >
    <i class="fa-solid fa-angle-right"></i>
  </a>
  <div
    class="slider"
    #slider
    [ngStyle]="{ transform: 'translateX(' + moveTo + '%)' }"
  >
    <div class="item" *ngFor="let item of list">
      <div class="card" style="width: 18rem; height: auto">
        <a type="button" routerLink="/peliculas/pelicula">
          <img
            src="../../../../assets/img/santiago-italia.jpg"
            class="img-fluid movie-carrusel"
            alt="..."
          />
        </a>
        <div class="card-body">
          <h5 class="card-title">Titulo pelicula</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div> -->
