<!--vista de una pelicula-->
<div class="position-relative" *ngIf="ver == ''">
  <div class="cover-page" [style.background-image]="'url(' + urlImage + ')'">
    <div class="container-movieinfo">
      <div class="container">
        <div class="row gap-2 justify-content-center">
          <div class="col-8 col-md-10 col-lg-11 title-movie">
            <h2>{{ peliSel?.title }}</h2>
          </div>
          <div class="col-7 col-md-4 col-lg-2">
            <img
              [src]="peliSel?.imagesUrlBillboard"
              alt=""
              class="img-fluid rounded"
            />
          </div>
          <div class="col-11 col-md-6 col-lg-9 my-auto">
            <div class="title-movie-sm">
              <h2>{{ peliSel?.title }}</h2>
            </div>
            <div>
              <app-valuacion
                [valoracion]="peliSel?.ratingMovie!"
              ></app-valuacion>
              <p class="fs-5">
                Duración: {{ peliSel?.durationInMinutes }} min. |
                {{ peliSel?.ratingMovieINCAA }}
              </p>
              <p class="synopsis-movie">{{ peliSel?.synopsis }}</p>
            </div>
            <div>
              <p>
                Géneros: Drama, Suspenso. <br />
                Elenco: Actores, Directores. <br />
                Año: {{ peliSel?.relanseYear }}
              </p>
            </div>
            <div>
              <button
                type="button"
                class="btn btn-sm btn-primary"
                (click)="showTriler()"
              >
                Ver trailer
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="trailerMovie">
    <div class="container-fluid mb-3" *ngIf="triler">
      <div class="row justify-content-center">
        <div class="d-flex justify-content-between bg-dark">
          <h3>Trailer</h3>
          <a
            role="button"
            class="btn btn-unstyled border-0 text-danger"
            (click)="showTriler()"
          >
            X Cerrar
          </a>
        </div>
        <div class="col-10 col-md-8">
          <div class="ratio ratio-16x9">
            <iframe
              src="https://player.vimeo.com/video/876491534?h=a8661edfc4"
              frameborder="0"
              allow="autoplay; fullscreen"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="bg-dark">
      <h2 class="p-3 ps-5">Ver Película</h2>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <div class="ratio ratio-16x9">
          <iframe
            src="https://player.vimeo.com/video/884182527?p_id=58479"
            frameborder="0"
            allow="autoplay; fullscreen"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Lista de pelicualas-->
<div>
  <div class="d-flex justify-content-end my-3">
    <div class="input-group input-group-sm" style="width: 400px">
      <input
        type="search"
        class="form-control"
        type="search"
        placeholder="Buscar película, director"
        aria-label="Buscar"
        aria-describedby="button-addon2"
        [(ngModel)]="searchName"
        (keyup.enter)="search(); page = 1"
      />
      <button
        class="btn btn-outline-success"
        type="button"
        id="button-addon2"
        (click)="search()"
      >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
    <button type="button" class="btn btn-sm btn-primary ms-2 text-light" (click)="clean()">
      <i class="fa-solid fa-rotate-right"></i> Limpiar
    </button>
  </div>
  <div
    class="container-fluid"
    *ngIf="ver == 'lista' && newMovies.length > 0; else movieEmpty"
  >
    <div
      class="row row-cols-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 g-4 mb-3"
    >
      <div class="col" *ngFor="let item of newMovies">
        <div
          class="card bg-200 text-200 h-100 border border-secondary position-relative"
        >
          <img
            [src]="item.linkPoster"
            class="card-img-top"
            alt="..."
            (load)="onImageLoad()"
          />
          <div
            *ngIf="loading"
            class="d-flex justify-content-center align-items-center"
          >
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
          <div class="card-body text-center d-flex flex-column">
            <h5 class="card-title">{{ item.nombre }}</h5>
            <div class="card-text mt-auto">
              <div *ngIf="item.estreno">
                <span class="badge rounded-pill bg-dark px-2 fs-6">
                  Estreno
                </span>
              </div>

              <div>
                <span
                  class="badge rounded-pill px-2 fs-6 mt-1"
                  [ngClass]="!item.oculta ? 'bg-success' : 'bg-secondary'"
                >
                  {{ item.oculta ? "Oculta" : "Publicada" }}
                </span>
              </div>
            </div>
          </div>
          <div class="card-footer bg-300 text-center">
            <div class="btn-group dropup">
              <button
                type="button"
                class="btn btn-sm btn-primary dropdown-toggle text-200"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Acciones
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a type="button" (click)="editar(item)" class="dropdown-item">
                    <i class="fa-regular fa-pen-to-square text-warning"></i>

                    Editar
                  </a>
                </li>
                <li>
                  <a type="button" (click)="view(item)" class="dropdown-item">
                    <i class="fa-solid fa-eye text-primary"></i>
                    Vista previa
                  </a>
                </li>
                <li>
                  <a
                    type="button"
                    class="dropdown-item"
                    (click)="updatePublicar(item)"
                  >
                    <i
                      class="fa-solid"
                      ngClass=" {{
                        !item.oculta
                          ? 'fa-xmark text-dark'
                          : 'fa-check  text-success'
                      }}"
                    ></i>
                    {{ !item.oculta ? "Ocultar" : "Publicar" }}
                  </a>
                </li>
                <li>
                  <a
                    type="button"
                    class="dropdown-item"
                    (click)="updateEstrenar(item)"
                  >
                    <i
                      class="fa-solid fa-film"
                      ngClass="{{
                        item.estreno ? 'text-danger' : 'text-warning'
                      }}"
                    ></i>

                    {{
                      item.estreno ? "Quitar de estreno" : "Poner en estreno"
                    }}
                  </a>
                </li>
                <li>
                  <a href="" class="dropdown-item">
                    <i class="fa-solid fa-trash-can text-danger"></i>
                    Eliminar
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center text-success"
      [collectionSize]="moviesSize"
      [pageSize]="10"
      [maxSize]="10"
      [(page)]="page"
      (pageChange)="search()"
    ></ngb-pagination>
  </div>
  <ng-template #movieEmpty>
    <h3>No se encuantraron peliculas para "{{searchName}}"</h3>
  </ng-template>
</div>
