<!--visa de una pelicula-->
<div *ngIf="ver == ''">
  <div
    class="position-absolute start-0 top-0 h-100 w-100 overflow-hidden"
    style="z-index: -1"
  >
  <!-- src="./assets/img/slide-todasLasPistas_edited.jpg" -->
    <img
    [src]="peliSel?.imagesUrlCover"
      class="imgPortada"
    />
    <div class="back-1"></div>
  </div>
  <div class="container-movieinfo">
    <div class="container">
      <div class="row">
        <h2>{{ peliSel?.title }}</h2>
      </div>
      <div class="row gap-2">
        <div class="col-8 col-md-4 col-lg-2">
          <img [src]="peliSel?.imagesUrlBillboard" alt="" class="img-fluid" />
        </div>
        <div class="col-11 col-md col-lg-9">
          <div>
            <app-valuacion [valoracion]="peliSel?.ratingMovie!"></app-valuacion>
            <p class="fs-5">
              Duración: {{ peliSel?.durationInMinutes }} min. |
              {{ peliSel?.ratingMovieINCAA }}
            </p>
            <p>{{ peliSel?.synopsis }}</p>
          </div>
          <div>
            <p>
              Géneros: Drama, Suspenso. <br />
              Elenco: Actores, Directores. <br />
              Año: {{ peliSel?.relaseYear }}
            </p>
          </div>
          <div>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="showTriler()"
            >
              Ver trailer
            </button>
          </div>
        </div>
      </div>
      <br />
      <div class="d-flex justify-content-center" *ngIf="triler">
        <iframe
          width="800"
          height="400"
          src="https://www.youtube.com/embed/A5surOEYLLo"
          title="El Verano Que Te Vimos (The Summer We Saw You - 2021) - Trailer - English Subtitles"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
          
        ></iframe>
        <div class="">
          <button
            class="btn btn-unstyled border-0 text-danger"
            type="button"
            (click)="showTriler()"
          >
            X Cerrar
          </button>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div class="bg-dark">
          <h2 class="ms-5">Ver Película</h2>
        </div>
        <div class="col-10 col-md-8" style="height: 400px">
          <iframe
            width="1520"
            height="538"
            src="https://www.youtube.com/embed/KrDKN86pgjI"
            title="El código enigma | Película completa"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            style="width: 100%; height: 100%"
          ></iframe>
        </div>
        <div class="col-10 col-md-8" style="height: 400px">
          <iframe
            width="930"
            height="523"
            src="https://www.youtube.com/embed/ntfl31rxBKI?showifo=0"
            title=""
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="position-absolute bottom-0 start-0 w-100">
    <div class="container-fluid">Titulo</div>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img
            src="./assets/img/Todas-las-pistas-fueron-falsas-poster-.jpg"
            alt=""
            class="img-fluid"
            style="width: 240px; height: 338px"
          />
        </div>
        <div class="col">
          <div>DESCRIPCIONES</div>
          <div>Elenco</div>
          <div>Informacion</div>
          <div>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="showTriler()"
            >
              Ver trailer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="position-relative start-0 top-0 mt-4">
    <div class="container-md">
      <div class="row">
        <p class="title-movie">TITULO</p>
        <div class="col-auto">
          <img
            src="./assets/img/Todas-las-pistas-fueron-falsas-poster-.jpg"
            alt=""
            class="img-fluid"
            style="width: 240px; height: 338px"
          />
        </div>
        <div class="col">
          <div>DESCRIPCIONES</div>
          <div>Elenco</div>
          <div>Informacion</div>
          <div>
            <button
              type="button"
              class="btn btn-sm btn-primary"
              (click)="showTriler()"
            >
              Ver trailer
            </button>
          </div>
        </div>
      </div>
      <br />
      <div class="d-flex justify-content-center" *ngIf="triler">
        <iframe
          width="800"
          height="400"
          src="https://www.youtube.com/embed/A5surOEYLLo"
          title="El Verano Que Te Vimos (The Summer We Saw You - 2021) - Trailer - English Subtitles"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe>
        <div class="">
          <button
            class="btn btn-unstyled border-0 text-danger"
            type="button"
            (click)="showTriler()"
          >
            X Cerrar
          </button>
        </div>
      </div>
      <br />
      <div class="row justify-content-center">
        <div class="bg-dark">
          <h2 class="ms-5">Pelicula</h2>
        </div>
        <div class="col-8" style="height: 400px">
          <iframe
            width="1520"
            height="538"
            src="https://www.youtube.com/embed/KrDKN86pgjI"
            title="El código enigma | Película completa"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
            style="width: 100%; height: 100%"
          ></iframe>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!--Lista de pelicualas-->
<div *ngIf="ver == 'lista'">
  <div class="row row-cols-lg-1 g-4">
    <div *ngFor="let item of pelis">
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <img
              [src]="item.imagesUrlBillboard"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8 position-relative">
            <div class="card-body text-dark">
              <h5 class="card-title fs-4">{{ item.title }}</h5>
              <p class="card-text">
                <b>Valoracion:</b>
                <app-valuacion
                  [valoracion]="item.ratingMovie!"
                  class="d-inline-block ms-1"
                ></app-valuacion>
                <br />
                <b>Duracion:</b> {{ item.durationInMinutes }} min. <br />
                <b>Año de estreno:</b> {{ item.relaseYear }}
                <br />
                <b>Clasificacion:</b> {{ item.ratingMovieINCAA }} <br />
                <b>Elenco:</b> Actores , directores <br />
                <b>Nominaciones:</b> Nominaciones y premios
                <a role="button" class="link-primary" type="button">
                  Ver más... </a
                ><br />
                <b>Link del trailer: </b> {{ item.linkTrailer }} <br />
                <b>Link del le película: </b> {{ item.linkPelicula }} <br />
                <b>Foto de portada: </b>
                <a role="button" class="link-primary" type="button">
                  Ver más...
                </a>
                <br />
                <b>Foto de cartelera: </b
                ><a role="button" class="link-primary" type="button">
                  Ver más...
                </a>
                <br />
                <b>Generos:</b> Drama, suspenso <br />
                <span class="d-inline-block text-truncate" style="width: 65%">
                  <b>Descripción:</b> {{ item.synopsis }}
                </span>
                <a role="button" class="align-top link-primary" type="button">
                  Ver más...
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="position-absolute end-0 top-0 mt-2 me-2 text-center fs-5">
          <span
            class="badge rounded-pill bg-{{
              item.publiclyVisible ? 'success' : 'dark'
            }}"
          >
            {{
              item.publiclyVisible
                ? "Disponible para el público"
                : "Oculto para el público"
            }}
          </span>
          <small class="text-muted d-block"> fecha: 22/04/2023 </small>
        </div>
        F
        <div class="card-footer bg-transparent border-secondary">
          <div class="row justify-content-center">
            <div class="col-auto">
              <button
                class=" btn btn-sm btn-{{
                  item.publiclyVisible ? 'dark' : 'success'
                }} "
                type="button"
                (click)="publicar(item)"
              >
                <i
                  class="fa-regular fa-eye{{ item.publiclyVisible ? '-slash' : '' }}"
                ></i>
                {{ item.publiclyVisible ? "Ocultar video" : "Publicar video" }}
              </button>
              &nbsp;;
              <button
                class="btn btn-sm btn-warning"
                type="button"
                (click)="editar(item)"
              >
                <i class="fa-regular fa-pen-to-square"></i> Editar
              </button>
              &nbsp;;
              <button class="btn btn-sm btn-danger" type="button">
                <i class="fa-solid fa-trash-can"></i> Eliminar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
