<div
  class="position-relative"
  style="width: 100%; height: 300px;"
>
ALGUNAS DESCRIPCIONES
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x text-white mb-3"
  >
    powered by G6
  </div>
</div>
<div>
  <a type="button" role="button" class="like">
    <i class="fa-solid fa-heart text-danger"></i>
  </a>
  <a class="mx-2" type="button" role="button">
    <i class="fa-brands fa-facebook text-primary"></i>
  </a>
  <a type="button" role="button">
    <i class="fa-brands fa-instagram text-danger"></i>
  </a>
</div>
