<div
  class="position-relative mt-4"
  style="width: 100%; height: 200px; background-color: rgba(149, 40, 54, 1)"
>
  <div class="row justify-content-center">
    <div class="col-auto">
      <img src="../../../assets/img/logo/cineclub20.png" alt="" />
      <img
        src="../../../assets/img/logo/logo-municipalidad-de-cordoba.png"
        alt=""
      />
      <img src="../../../assets/img/logo/sellonuevo-100x100.png" />
    </div>
  </div>
  <div
    class="position-absolute bottom-0 start-50 translate-middle-x mb-3 text-dark fs-5"
  >
    CineclubPlay® Todos los derechos reservados
  </div>
  <div class="position-absolute top-0 end-0 m-3">
    <a type="button" role="button" class="like">
      <i class="fa-solid fa-heart text-dark"></i>
    </a>
    <a class="mx-2" type="button" role="button">
      <i class="fa-brands fa-facebook text-dark"></i>
    </a>
    <a type="button" role="button">
      <i class="fa-brands fa-instagram text-dark"></i>
    </a>
  </div>
</div>
