<div
  class="position-relative mt-4"
  style="width: 100%; min-height: 200px; background-color: rgba(149, 40, 54, 1)"
>
  <div class="container-fluid">
    <div class="row justify-content-center m-3">
      <div class="col-auto my-auto">
        <img
          src="../../../assets/img/logo/cineclub20.png"
          alt=""
          class="img-fluid img-footer"
        />
      </div>
      <div class="col-auto my-auto">
        <img
          src="../../../assets/img/logo/logo-municipalidad-de-cordoba.png"
          alt=""
          class="img-fluid img-footer"
        />
      </div>
      <div class="col-auto my-auto">
        <img
          src="../../../assets/img/logo/sellonuevo-100x100.png"
          alt=""
          class="img-fluid img-footer"
        />
      </div>
    </div>
    <h6 class="position-absolute bottom-0 start-50 translate-middle-x text-center text-dark w-100">
      CineclubPlay® Todos los derechos reservados
    </h6>
  </div>

  <div class="position-absolute top-0 end-0 m-3">
    <!-- <a type="button" role="button" class="like">
      <i class="fa-solid fa-heart text-dark"></i>
    </a> -->
    <a class="mx-2" type="button" role="button">
      <i class="fa-brands fa-facebook text-dark"></i>
    </a>
    <a type="button" role="button">
      <i class="fa-brands fa-instagram text-dark"></i>
    </a>
  </div>
</div>
