<div style="padding-top: 130px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fs-4 ">
    <div class="container-fluid ">
      <ul class="navbar-nav mx-auto flex-row gap-2">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Géneros
          </a>
          <ul
            class="dropdown-menu bg-secondary"
            aria-labelledby="navbarDropdown"
          >
            <li>
              <a
                class="dropdown-item"
                routerLink="genero/todas"
                routerLinkActive="active"
                >Todas</a
              >
            </li>
            <li *ngFor="let item of genresList">
              <a
                class="dropdown-item"
                [routerLink]="['genero', item.NOMBRE]"
                routerLinkActive="active"
                >{{ item.NOMBRE }}</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link item-genre-md"
            routerLink="genero/todas"
            routerLinkActive="active"
            >Todas</a
          >
        </li>
        <li class="nav-item" *ngFor="let item of genresList; let i = index">
          <a
            class="nav-link item-genre-md"
            [routerLink]="['genero', item.NOMBRE]"
            routerLinkActive="active"
            *ngIf="i<4"
            >{{ item.NOMBRE }}</a
          >
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid" style="min-height: 70vh;">
    <router-outlet></router-outlet>
  </div>
</div>
