.rotate-icon {
  transform: rotate(180deg);
  transition: all 0.5s;
  cursor: pointer;
}
.collapsed-list li {
  text-decoration: none;
  list-style: none;
}
.collapsed-list li a {
  text-decoration: none;
  color: white;
  width: 100%;
  display: block;
}
.collapsed-list li a:hover {
  color: rgb(156, 156, 156);
}

.nav-link:hover {
  background-color: rgb(53, 53, 53);
  border-left: 3px solid #6eade0;
}
.collapsed-list {
  /* background-color: rgb(27, 27, 27);
   */
   background-color: #332b47d2;
}

.collapsed-list li a.active {
  background-color: rgb(53, 53, 53);
}

.offcanvas-menu {
  position: fixed;
  top: 0;
  left: -70%;
  width: 70%;
  height: 100vh;
  transition: 0.5s;
  z-index: 1090;
  overflow-y: auto;
}
.offcanvas-menu.open {
  left: 0;
  transition: 0.5s;
}
.bg-offcanvas {
  background-color: #343a40b4;
  z-index: 1080;
}
