<div class="position-relative bg-100 w-100">
  <nav class="navbar navbar-expand-md navbar-dark d-flex bg-200">
    <div
      class="container-fluid justify-content-md-between justify-content-around"
    >
      <a class="navbar-brand" href="#">
        <img
          src="./assets/img/logo/logoccp1.png"
          alt=""
          style="height: 40px; width: 40px"
        />
      </a>
      <h3 class="text-center">Espacio de trabajo</h3>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        #menuCanvasAdmin
        type="button"
        (click)="btnOffCanvas()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="d-flex justify-content-end gap-3 align-items-center fs-3 me-2"
      >
        <a class="link-danger text-decoration-none" routerLink="/home"
          ><i class="fa-solid fa-xmark"></i
        ></a>
      </div>
    </div>
  </nav>
  <div class="row m-0 w-100" style="min-height: 100vh">
    <!-- menu -->
    <div class="col-auto position-relative">
      <button
        class="btn btn-link text-white fs-4"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#menuDash"
        aria-controls="menuDash"
      >
        <i class="fa-solid fa-bars"></i>
      </button>
      <div
        class="offcanvas offcanvas-start"
        tabindex="-1"
        id="menuDash"
        aria-labelledby="offcanvasMenu"
      >
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasLabel">Menú</h5>
          <button
            type="button"
            class="btn-close btn-close-white"
            data-bs-dismiss="offcanvas"
            aria-label="close"
          ></button>
        </div>
        
        <app-aside></app-aside>
      </div>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>