<div style="height: 100vh; width: 100%" class="bg-dark">
    <div class="row justify-content-center m-0 mt-3">
      <div class="col-11 col-sm-auto mt-3">
        <div
          class="card bg-dark text-white position-relative"
          style="max-width: 24rem"
        >
          <img src="./assets/img/login/log-1.png" class="card-img" alt="img-bg-login" />
          <div class="position-absolute top-0 end-0">
            <a
            routerLink="/home"
              class="btn btn-link text-white fs-4"
              aria-label="Close"
            >
              <i class="fa-solid fa-xmark"></i>
            </a>
          </div>
          <div
            class="position-absolute bottom-0 start-50 translate-middle-x w-100"
          >
            <h5 class="text-center text-white border-bottom w-75 mx-auto">
              {{ title }}
            </h5>
            <!--Login-->
            <form
              name="formRecovery"
              [formGroup]="recoverPassF"
              *ngIf="recoverPassF"
              class="mb-4 w-75 mx-auto"
            >
              <div class="mb-2">
                <label for="password" class="form-label">Nueva contraseña</label>
                <input
                  type="password"
                  class="form-control form-control-sm"
                  id="password"
                  aria-describedby="password"
                  formControlName="password"
                  [ngClass]="{
                    'is-invalid':
                      (recoverPassF.controls['password'].touched || submitted) &&
                      recoverPassF.controls['password'].errors
                  }"
                />
                <span
                  class="text-danger"
                  *ngIf="(recoverPassF.controls['password'].touched || submitted) && recoverPassF.controls['password'].errors?.['required']"
                >
                  Campo obligatorio
                </span>
              </div>
              <div class="mb-3" *ngIf="recoverPassF.get('password')?.value">
                <label for="newPassword2" class="form-label">Tu nueva contraseña es:</label>
                <input
                  type="text"
                  class="imputpass w-100"
                  disabled
                  id="newPassword2"
                  [value]="recoverPassF.get('password')?.value"
                />
              </div>
              <div class="mt-3 d-flex justify-content-center">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  (click)="confirm()"
                >
                  Aceptar
                </button>
              </div>
            </form>
          </div>
          <div class="position-absolute end-0 bottom-0 m-2">
            <a routerLink="/us/login">    
              <span class="text-decoration-underline text-warning" 
                ><i class="fa-solid fa-arrow-left"></i>Iniciar sesión</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  