.imputpass{
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    border: none;
    border-bottom: solid 1px white;
}
.card{
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
#login-card{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
.title-form{
    margin-top: 4rem;
    font-weight: 700;
    font-style: 'noraml';
}