
    <div class="d-flex flex-wrap justify-content-center">
      <div class="card-info">
        <div class="title-card-info">
          <h5 class="fs-5 fw-bold">
            <i class="fa-regular fa-bell"></i> Película más vista
          </h5>
        </div>
        <div class="body-card-info">
          <h5>Noche más larga</h5>
          <p class="card-text">
            213 Reproducciones! <br />
            Categoría: drama <br />
          </p>
        </div>
      </div>
      <div class="card-info">
        <div class="title-card-info">
          <h5 class="fs-5 fw-bold">
            <i class="fa-regular fa-bell"></i> Último estreno cargado
          </h5>
        </div>
        <div class="body-card-info">
          <h5>El verano que te vimos</h5>
          <p class="card-text">
            Agregado hace 20 días <br />
            Sin Reproducciones! <br />
          </p>
        </div>
      </div>
      <div class="card-info">
        <div class="title-card-info">
          <h5 class="fs-5 fw-bold">
            <i class="fa-regular fa-bell"></i> Categorías destacadas
          </h5>
        </div>
        <div class="body-card-info">
          <h5>TOP 3</h5>
          <p class="card-text">
            Drama <br />
            Terror <br />
            Suspenso <br />
          </p>
        </div>
      </div>
    </div>