.card-info{
  border-radius: 8px;
  background: var(--surface-card);
  /* padding: 16px; */
  box-sizing: border-box;
  position: relative;
  color: #e0e0e0;
  width: 18rem;
  border: 1px solid var(--surface-border);
  margin: 1rem;
  }
  /* .card-info:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
  } */
  
  .title-card-info{
    padding: 1rem 1rem 0.5rem;
    text-align: center;
  
  }
  .body-card-info{
    padding: 0rem 1rem 1rem;
    text-align: center;
  }
  