<nav
  class="navbar navbar-dark navbar-expand-lg w-100 "
  [class.navDashboard]="navDashboard"
  [class.navFixed]="navFixed"
  [class.nav-1]="navSticky"
  [ngClass]="{ 'nav-sticky': navbarFixed }"
  *ngIf="(option|async) == 1"
>
  <div class="container-fluid position-relative ">
    <a class="navbar-brand" href="#" style="width: 100px; height: auto">
      <img src="./assets/img/logo/logoccp1.png" alt="" class="img-fluid" />
    </a>
    <button
      #menuCanvas
      class="navbar-toggler"
      type="button"
      (click)="btnOffCanvas()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto fs-4">
        <li class="nav-item">
          <a
            class="nav-link"
            type="button"
            routerLink="home"
            routerLinkActive="router-link-active"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="home"
            fragment="Estrenos"
            routerLinkActive="router-link-active"
            >Estrenos</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            router
            [routerLink]="['home']"
            fragment="destacadas"
            routerLinkActive="router-link-active"
            >Destacadas</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="peliculas/genero/todas"
            routerLinkActive="router-link-active"
            >Todas</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Vista
          </a>
          <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" type="button" (click)="getOption(1)"
                >Opción1</a
              >
            </li>
            <li>
              <a class="dropdown-item" type="button" (click)="getOption(2)"
                >Opción2</a
              >
            </li>
            <li>
              <a class="dropdown-item" type="button" (click)="getOption(3)"
                >Opción3</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item" *appShowForRoles="['Admin']">
          <a class="nav-link" routerLink="/dashboard"> Administración </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            type="button"
            (click)="checkSearch = !checkSearch"
          >
            <i
              class="fa-solid fa-magnifying-{{
                checkSearch ? 'glass-minus' : 'glass'
              }}"
            ></i>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="us/login"
            routerLinkActive="active"
            *ngIf="!login; else logoutTemplate"
          >
            <i class="fa-solid fa-right-to-bracket"></i>
          </a>
          <ng-template #logoutTemplate>
            <a type="button" role="button" class="nav-link" (click)="logout()">
              <i
                class="fa-solid fa-right-from-bracket text-danger"
                title="Salir"
              ></i>
            </a>
          </ng-template>
        </li>
      </ul>
      <div class="position-absolute bottom-0 end-0 me-5 w-50 d-flex justify-content-end">
        <app-search [ngClass]="checkSearch ? 'show' : 'hidden'"></app-search>
      </div>
    </div>
  </div>
</nav>
<!-- op2 -->
<nav
  class="navbar navbar-dark navbar-expand-lg nav-1 w-100"
  [ngClass]="{ 'nav-sticky': navbarFixed }"
  [class.navDashboard]="navDashboard"
  [class.navFixed]="navFixed"
  [class.nav-1]="navSticky"
  *ngIf="(option|async) == 2"
>
  <div class="container-fluid">
    <button
      #menuCanvas
      class="navbar-toggler"
      type="button"
      (click)="btnOffCanvas()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div>
        <ul class="navbar-nav ms-auto me-5 fs-3 my-auto">
          <li class="nav-item">
            <a
              class="nav-link"
              type="button"
              routerLink="home"
              routerLinkActive="router-link-active"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="home"
              fragment="Estrenos"
              routerLinkActive="router-link-active"
              >Estrenos</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              router
              [routerLink]="['home']"
              fragment="destacadas"
              routerLinkActive="router-link-active"
              >Destacadas</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="peliculas/genero/todas"
              routerLinkActive="router-link-active"
              >Todas</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vista
            </a>
            <ul
              class="dropdown-menu text-dark"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(1)"
                  >Opción1</a
                >
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(2)"
                  >Opción2</a
                >
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(3)"
                  >Opción3</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="checkSearch = !checkSearch">
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </li>

          <li class="nav-item" *appShowForRoles="['Admin']">
            <a class="nav-link" routerLink="/dashboard"> Administración </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="us/login"
              *ngIf="!login; else logoutTemplate"
            >
              <i class="fa-solid fa-right-to-bracket"></i>
            </a>
            <ng-template #logoutTemplate>
              <a
                type="button"
                role="button"
                class="nav-link"
                (click)="logout()"
              >
                <i
                  class="fa-solid fa-right-from-bracket text-danger"
                  title="Salir"
                ></i>
              </a>
            </ng-template>
          </li>
        </ul>
        <div
          class="w-75 ms-auto me-5"
          [ngClass]="checkSearch ? 'show' : 'hidden'"
        >
          <div class="input-group input-group-sm">
            <input
              type="search"
              class="form-control"
              type="search"
              placeholder="Buscar película, director"
              aria-label="Buscar"
              aria-describedby="button-search2"
              (keyup.enter)="search()"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              id="button-search2"
              (click)="search()"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex position-absolute top-0 end-0 fs-4 mt-3 me-3">
    <a type="button" role="button" class="like" (click)="like()">
      <i class="fa-solid fa-heart text-danger"></i>
    </a>
    <a class="mx-2" type="button" role="button">
      <i class="fa-brands fa-facebook text-primary"></i>
    </a>
    <a type="button" role="button">
      <i class="fa-brands fa-instagram text-danger"></i>
    </a>
  </div>
</nav>

<!-- op3 -->
<nav
  class="navbar navbar-dark navbar-expand-lg w-100"
  style="height: 150px"
  [ngClass]="{ 'nav-sticky': navbarFixed }"
  [class.navDashboard]="navDashboard"
  [class.navFixed]="navFixed"
  [class.nav-op3]="navSticky"
  *ngIf="(option|async) == 3"
>
  <div class="container-fluid">
    <a class="navbar-brand mt-2" href="#" style="width: 120px; height: auto">
      <img src="./assets/img/logo/logoccp1.png" alt="" class="img-fluid" />
    </a>
    <button
      #menuCanvas
      class="navbar-toggler"
      type="button"
      (click)="btnOffCanvas()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto me-5">
        <ul class="navbar-nav ms-auto me-5 fs-4">
          <li class="nav-item">
            <a
              class="nav-link"
              type="button"
              routerLink="home"
              routerLinkActive="router-link-active"
            >
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['home']"
              fragment="destacadas"
              routerLinkActive="router-link-active"
              >Destacadas</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="peliculas/genero/todas"
              routerLinkActive="router-link-active"
              >Todas</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Vista
            </a>
            <ul
              class="dropdown-menu text-dark"
              aria-labelledby="navbarDropdown"
            >
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(1)"
                  >Opción1</a
                >
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(2)"
                  >Opción2</a
                >
              </li>
              <li>
                <a class="dropdown-item" type="button" (click)="getOption(3)"
                  >Opción3</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item" *appShowForRoles="['Admin']">
            <a class="nav-link" routerLink="/dashboard"> Administración </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              type="button"
              (click)="checkSearch = !checkSearch"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="us/login"
              routerLinkActive="active"
              *ngIf="!login; else logoutTemplate"
            >
              <i class="fa-solid fa-right-to-bracket"></i>
            </a>
            <ng-template #logoutTemplate>
              <a
                type="button"
                role="button"
                class="nav-link"
                (click)="logout()"
              >
                <i
                  class="fa-solid fa-right-from-bracket text-danger"
                  title="Salir"
                ></i>
              </a>
            </ng-template>
          </li>
        </ul>
        <app-search [ngClass]="checkSearch ? 'show' : 'hidden'"></app-search>
      </div>
    </div>
  </div>
  <div class="d-flex position-absolute top-0 end-0 fs-4 mt-3 me-3">
    <a class="mx-2 link-light" type="button" role="button">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a type="button" role="button" class="link-light">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </div>
</nav>

<!--ofcanvas-->

<div
  class="offcanvas-menu bg-dark"
  [ngClass]="{ open: offcanvasmenu }"
  tabindex="-1"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title fs-3">Menú</h5>
    <button
      type="button"
      class="btn btn-link link-light"
      (click)="btnOffCanvas()"
    >
      <i class="fa-solid fa-x"></i>
    </button>
  </div>
  <div class="offcanvas-body">
    <app-search></app-search>
    <ul class="navbar-nav ms-3">
      <li class="nav-item">
        <a
          class="nav-link link-light"
          type="button"
          routerLink="home"
          routerLinkActive="router-link-active"
          (click)="btnOffCanvas()"
        >
          Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="home"
          fragment="Estrenos"
          routerLinkActive="router-link-active"
          (click)="btnOffCanvas()"
          >Estrenos</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          router
          [routerLink]="['home']"
          fragment="destacadas"
          routerLinkActive="router-link-active"
          (click)="btnOffCanvas()"
          >Destacadas</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link link-light"
          routerLink="peliculas/genero/todas"
          routerLinkActive="router-link-active"
          data-bs-dismiss="offcanvas"
          (click)="btnOffCanvas()"
          >Todas</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle link-light"
          href="#"
          id="navbarDropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Vista
        </a>
        <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" type="button" (click)="getOption(1)"
              >Opción1</a
            >
          </li>
          <li>
            <a class="dropdown-item" type="button" (click)="getOption(2)"
              >Opción2</a
            >
          </li>
          <li>
            <a class="dropdown-item" type="button" (click)="getOption(3)"
              >Opción3</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item" *appShowForRoles="['Admin']">
        <a
          class="nav-link link-light"
          routerLink="/dashboard"
          routerLinkActive="active"
          (click)="btnOffCanvas()"
        >
          Administración
        </a>
      </li>
      <li class="nav-item" (click)="btnOffCanvas()">
        <a
          class="nav-link link-light"
          routerLink="us/login"
          routerLinkActive="active"
          (click)="btnOffCanvas()"
          *ngIf="!login; else logoutTemplate"
        >
          <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <ng-template #logoutTemplate>
          <a type="button" role="button" class="nav-link" (click)="logout()">
            <i
              class="fa-solid fa-right-from-bracket text-danger"
              title="Salir"
            ></i>
          </a>
        </ng-template>
      </li>
    </ul>
  </div>
</div>
<div
  class="position-fixed top-0 lefth-0 w-100 h-100 bg-offcanvas"
  *ngIf="offcanvasmenu"
  (click)="btnOffCanvas()"
></div>
