.navprimary {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    z-index: 3000; /* Asegura que el nav esté por encima de otros elementos */
  }

  
  /* Cambia el color de fondo cuando se hace scroll */
  .navprimary.scrolled {
    position: sticky;
     background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgb(0, 0, 0));
    height: 50px;
  }
.zindex-top{
  z-index: 1200;
}
.offcanvas-menu{
  position: fixed;
  top: 0;
  left: -60%;
  width: 60%;
  height: 100vh;
  transition: 0.5s;
  z-index: 1090;
  overflow-y: auto;
}
.offcanvas-menu.open{
  
  left: 0;
  transition: 0.5s;

}
.bg-offcanvas{
  background-color: #343a40b4;
  z-index: 1080;
}
.hidden{
 opacity: 0;
 visibility: hidden;

}
.show{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease;
}


.like:active {
  animation: party 0.3s ;
}

@keyframes party {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(5);
  }
}

/* op3 */
.nav-op3{
  z-index: 100;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.001), rgb(0, 0, 0));
  position: absolute;
  top: 0;
  left: 0;
}
/* op3 */

/* op1 */
.nav-1{
  z-index: 100;
  position: absolute;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0.001), rgb(0, 0, 0)); */
}
.nav-sticky{
position: fixed;
top: 0;
background-color: rgba(0, 0, 0, 0.5);
z-index: 100;
transition: all 1s ease;
}

.nav-fixed{
  position: relative;
  top: 0;
  left: 0;
}
.navDashboard{
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(105, 24, 24, 0.767);
  height: 50px;
}
.navDashboard .navbar-brand{
 display: none;
}