<nav
  class="navbar navbar-dark navbar-expand-lg"
  [ngClass]="{ 'bg-dark': option==2}"
  style="height: 150px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="width: 150px; height: auto">
      <img
        src="/assets/img/Cineclub-20-anos-Logo-768x612-1-600x478.png"
        alt=""
        class="img-fluid"
      />
      <div class="ms-2">
        <small class="text-white fs-4">CineClub Play</small>
      </div>
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="ms-auto me-5">
        <ul class="navbar-nav ms-auto me-5 fs-3">
          <li class="nav-item">
            <a
              class="nav-link"
              type="button"
              routerLink="home"
              routerLinkActive="active"
            >
              Home
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="home"
              routerLinkActive="router-link-active"
              >Link</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle "
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              
            >
              Vista
            </a>
            <ul class="dropdown-menu text-dark" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" type="button" (click)=" getOption(1)">opcion1</a></li>
              <li><a class="dropdown-item" type="button" (click)=" getOption(2)">opcion2</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="peliculas/adminPeliculas"
              >Privado</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="us/login"
              ><i class="fa-solid fa-right-to-bracket"></i></a
            >
          </li>
        </ul>
        <form class="d-flex">
          <div class="input-group input-group-sm">
            <input
              type="search"
              class="form-control me-2"
              type="search"
              placeholder="Buscar"
              aria-label="Buscar"
              aria-describedby="button-addon2"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              id="button-addon2"
            >
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</nav>