<!-- <ng-container *ngIf="false">
  <div
    class="d-flex justify-content-center align-items-center bg-dark"
    style="min-height: 100vh; width: 100%"
  >
    <div class="row justify-content-center m-0 w-100">
      <div class="col-11 col-sm-9 col-md-6 col-lg-5 col-xl-4 m-3">
        <div
          class="card bg-dark text-white position-relative overflow-hidden mx-auto"
        >
          <img
            src="./assets/img/login/log-1.png"
            class="img-fluid"
            alt="log-1.png"
          />
          <div class="position-absolute top-0 end-0">
            <a
              role="button"
              class="btn btn-link text-white fs-4"
              aria-label="Close"
              routerLink="/home"
            >
              <i class="fa-solid fa-xmark"></i>
            </a>
          </div>
          <div
            class="position-absolute bottom-0 start-50 translate-middle-x w-100"
          >
            <h5 class="text-center text-white border-bottom w-75 mx-auto">
              {{ title }}
            </h5>
            <form
              name="formFPass"
              [formGroup]="recoverPassF"
              class="mb-4 w-75 mx-auto mb-3"
            >
              <div class="mb-3">
                <label for="email" class="form-label">Ingresa tu email</label>
                <input
                  type="text"
                  class="form-control form-control-sm"
                  id="email"
                  autocomplete="email"
                  aria-describedby="email"
                  formControlName="email"
                  placeholder="ejemplo@ejemplo.com"
                  [ngClass]="{
                    'is-invalid':
                      (recoverPassF.controls['email'].touched || submitted) &&
                      recoverPassF.controls['email'].errors
                  }"
                />
                <small
                  class="text-danger"
                  *ngIf="(recoverPassF.controls['email'].touched || submitted) && recoverPassF.controls['email'].errors?.['required']"
                >
                  Campo obligatorio
                </small>
                <small
                  class="text-danger"
                  *ngIf="recoverPassF.controls['email'].errors?.['email']"
                >
                  Debe tener el formato ejemplo@ejemplo.com
                </small>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <button
                  type="submit"
                  class="btn btn-sm btn-primary"
                  (click)="recoverPass()"
                >
                  <i class="fa-solid fa-paper-plane"></i> Restablecer contraseña
                </button>
              </div>
            </form>
          </div>
          <div class="position-absolute end-0 bottom-0 m-2">
            <a type="button" role="button" (click)="back()">
              <span class="text-decoration-underline text-warning"
                ><i class="fa-solid fa-arrow-left"></i> volver</span
              >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container> -->

<div class="position-relative bg-dark" style="height: 100vh">
  <div class="row m-0 h-75 justify-content-center align-items-center">
    <div class="col-10 position-relative" style="max-width: 30rem">
      <div style="height: 4rem"></div>
      <div class="position-absolute top-0 start-50 translate-middle-x">
        <div class="d-flex justify-content-center">
          <div
            class="d-flex justify-content-center align-items-center rounded-circle bg-secondary border"
            style="
              width: 7rem;
              height: 7rem;
              background: linear-gradient(#212429, #656f7e);
            "
            id="login-card"
          >
            <i class="fa-regular fa-user text-white fs-1"></i>
          </div>
        </div>
      </div>
      <div
        class="row justify-content-center align-items-end border rounded-3"
        style="max-height: 30rem; background: linear-gradient(#212429, #656f7e)"
        id="login-card"
      >
        <h4 class="col-12 col-sm-10 text-white title-form mb-3">
          {{ title }}
        </h4>
        <form [formGroup]="recoverPassF" class="col-12 col-sm-10">
          <div class="mb-3">
            <p>Te enviaremos un email sobre como restablecer tu contraseña.</p>
            <div class="input-group">
              <span
              class="input-group-text text-white bg-secondary border-0"
              id="addon-@"
              ><i
                class="fa-solid fa-at"
                [ngClass]="{
                  'text-danger':
                    (recoverPassF.controls['email'].touched || submitted) &&
                    recoverPassF.controls['email'].errors
                }"
              ></i
            ></span>
              <input
                id="email"
                type="email"
                class="form-control"
                placeholder="Email"
                aria-label="Correo electronico"
                aria-describedby="addon-@"
                formControlName="email"
                [ngClass]="{
                  'is-invalid':
                    (recoverPassF.controls['email'].touched || submitted) &&
                    recoverPassF.controls['email'].errors
                }"
              />
            </div>
            <small
              class="text-danger"
              *ngIf="(recoverPassF.controls['email'].touched || submitted) && recoverPassF.controls['email'].errors?.['required']"
            >
              ¡Campo obligatorio!
            </small>
            <small class="text-danger" *ngIf="recoverPassF.controls['email'].errors?.['email']">
              Debe tener el formato ejemplo@ejemplo.com
            </small>
          </div>
          <div class="d-flex justify-content-center gap-2 mb-3">
            <button
              class="btn btn-warning text-light"
              type="button"
              (click)="back()"
            >
              Volver
            </button>
            <button
              class="btn btn-success text-light"
              type="button"
              (click)="recoverPass()"
            >
              Enviar email
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
