<div class="position-relative">
  <div class="input-group input-group-sm">
    <input
      [(ngModel)]="searchMovie"
      type="search"
      placeholder="Buscar película, director"
      class="form-control"
    />
    <button type="button" class="btn btn-dark">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<div class="input-group input-group-sm" *ngIf="sm">
  <input
    [(ngModel)]="searchMovie"
    type="search"
    placeholder="Buscar película, director"
    class="form-control"
  />
  <button type="button" class="btn btn-dark">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
