<div class="position-relative">
  <div class="input-group input-group-sm" style="max-width: 100%;width: 400px ">
    <input
      [(ngModel)]="searchMovie"
      type="search"
      placeholder="Buscar película, director"
      class="form-control"
      (keyup.enter)="search()"
    />
    <button type="button" class="btn btn-secondary" (click)="search()">
      <i class="fa-solid fa-magnifying-glass"></i>
    </button>
  </div>
</div>

<div class="input-group input-group-sm" *ngIf="sm">
  <input
    [(ngModel)]="searchMovie"
    type="search"
    placeholder="Buscar película, director"
    class="form-control"
  />
  <button type="button" class="btn btn-secondary">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>
