<h1 class="title">Estrenos</h1>
<div class="container-slider">
    <div class="container">
        <input type="radio" name="slider" id="item-1" checked>
        <input type="radio" name="slider" id="item-2">
        <input type="radio" name="slider" id="item-3">
        
        <div class="cards">
            <label class="card-film" for="item-1" id="selector-1">
                <img src="./assets/img/estrenos/Todas-las-pistas-estreno.jpg" alt="">
            </label>
            <label class="card-film" for="item-2" id="selector-2">
                <img src="./assets/img/estrenos/la-noche-mas-larga-estrenos.jpg" alt="">
            </label>
            <label class="card-film" for="item-3" id="selector-3">
                <img src="./assets/img/estrenos/la-estrella-estreno.jpg" alt="">
            </label>
        </div>
    
    
    </div>


</div>