<div class="container-bg">
  <h1 class="title">Estrenos</h1>
  <div class="container-slider">
    <div class="container">
      <input type="radio" name="slider" id="item-1" checked />
      <input type="radio" name="slider" id="item-2" />
      <input type="radio" name="slider" id="item-3" />

      <div class="cards">
        <label class="card-film" for="item-1" id="selector-1">

            <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../../../../../../assets/img/TodasLasPistas/TodasLasPistas-CoverEstreno.jpg"
                />
                <source
                  media="(min-width: 480px)"
                  srcset="../../../../../../assets/img/TodasLasPistas/TodasLasPistas-CoverEstreno400p.jpg"
                />
                <img
                  src="../../../../../../assets/img/TodasLasPistas/TodasLasPistas-CoverEstreno400p.jpg"
                  alt=""
                />
              </picture>
        </label>
        <label class="card-film" for="item-2" id="selector-2">
            <picture>
                <source
                  media="(min-width: 768px)"
                  srcset="../../../../../../assets/img/LaNocheMasLarga/LaNoche-CoverEstreno.jpg"
                />
                <source
                  media="(min-width: 480px)"
                  srcset="
                    ../../../../../../assets/img/LaNocheMasLarga/LaNoche-Cover400jpg.jpg"
                />
                <img
                  src="../../../../../../assets/img/LaNocheMasLarga/LaNoche-Cover400jpg.jpg"
                  alt=""
                />
              </picture>
         
        </label>
        <label class="card-film" for="item-3" id="selector-3">
          <picture>
            <source
              media="(min-width: 768px)"
              srcset="
                ../../../../../../assets/img/laEstrella/laEstrella-CoverEstreno.jpg
              "
            />
            <source
              media="(min-width: 480px)"
              srcset="
                ../../../../../../assets/img/laEstrella/LaEstrella-Cover450.jpg
              "
            />
            <img
              src="../../../../../../assets/img/laEstrella/LaEstrella-Cover450.jpg"
              alt=""
            />
          </picture>
        </label>
      </div>
    </div>
  </div>
</div>
