/* contenedor */
.container-film-strip {
  position: relative;
  max-height: 50vh;
  overflow: hidden;
}

/* efecto rollo de pelicula */
.border-film-strip {
  display: flex;
  width: 100%;
  height: 10px;
  /* background-image: repeating-linear-gradient(
    90deg,
    #d6cf7f,
    #fff 1%,
    transparent 1%,
    transparent 2%
  ); */
  background-image: repeating-linear-gradient(
    90deg,
    #9c976b,
    #cfcfcf 1%,
    transparent 1%,
    transparent 2%
  );
}

.btn-film-strip {
  background-color: rgba(194, 194, 194, 0.5);
  width: 50px;
  height: 50px;
  z-index: 3;
  visibility: hidden;
  
}
.btn-film-strip:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
  cursor: pointer;
  font-size: medium;
}

/* contenedor de peliculas */
.slider-film {
  display: flex;
  height: 100%;
  margin: 0 1% 0 1%;
  transition: 0.3s ease-in-out;
}

.slider-item {
  flex: 0 0 calc(80% / 3);
  box-sizing: border-box;
  margin: 5px 2%;

  position: relative;

  border-radius: 20px;
  overflow: hidden;
}
.slider-item img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.slider-item:hover {
  transform: scale(1.1);
  border: solid 2px white;
  cursor: pointer;
  padding: 4px;
  z-index: 3;
}
.premiere-title-container{
  position: absolute;
  top:2%;
  left: 2%;
  

}
.card-movie{
  width: 500px;
  height: auto;

}

@media (max-width: 768px) {
  .border-film-strip {
    display: flex;
    width: 100%;
    height: 10px;
    background-image: repeating-linear-gradient(
      90deg,
      #9c976b,
      #cfcfcf 2%,
      transparent 2%,
      transparent 4%
    );
  }
  
  .card-movie{
    width: 400px;
    height: auto;
  }
  .slider-item{
    flex: 0 0 calc(100%/2);

  }
  .btn-film-strip{
    visibility: visible;
  }
  .btn-next-slider, .btn-prev-slider{
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .slider-film{
    margin-left: 5%;
  }
  .slider-item{
    flex: 0 0 90%;
  }
  /* efecto rollo de pelicula */
.border-film-strip {
  display: flex;
  width: 100%;
  height: 10px;
  background-image: repeating-linear-gradient(
    90deg,
    #9c976b,
    #cfcfcf 3%,
    transparent 3%,
    transparent 6%
  );
}

}
 