<div *ngIf="optestreno == 1">
  <div class="row m-0 justify-content-start my-1">
    <div class="col-auto ms-3 p-0">
      <!-- definitivo no borrar -->
      <!-- <div
        class="rounded-circle bg-dark p-2 d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px"
      >
        <i class="fa-solid fa-video"></i>
      </div> -->
      <!-- borrar una vez que se confirmo el diseño -->
      <div class="dropdown">
        <button
          class="btn btn-dark rounded-circle p-3"
          type="button"
          id="optionShow"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fa-solid fa-video"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="optionShow">
          <li>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox1"
                [(ngModel)]="showTirilla"
              />
              <label class="form-check-label" for="inlineCheckbox1"
                >Ocultar tirilla</label
              >
            </div>
          </li>
          <li>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="checkbox"
                id="inlineCheckbox2"
                [(ngModel)]="showFondoDark"
              />
              <label class="form-check-label" for="inlineCheckbox2"
                >Ocultar fondo dark</label
              >
            </div>
          </li>
          <li>
            <a
              class="ms-2 text-decoration-none"
              type="button"
              role="button"
              (click)="optestreno = 2"
            >
              Opcion 2
            </a>
          </li>
          <li>
            <a
              class="ms-2 text-decoration-none"
              type="button"
              role="button"
              (click)="optestreno = 3"
            >
              Opcion 3
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col my-auto">
      <p class="fs-3 my-auto">Estrenos</p>
    </div>
  </div>
  <div class="container-film-strip bg-{{ !showFondoDark ? 'dark' : 'black' }}">
    <!-- btn-left -->
    <div
      class="position-absolute top-50 start-0 translate-middle-y rounded-circle btn-film-strip d-flex justify-content-center align-items-center"
      *ngIf="mostrarbtndesplzamiento"
    >
      <a
        type="button"
        role="button"
        class="text-center stretched-link"
        (click)="prevSlide()"
      >
        <i class="fa-solid text-white fa-angle-left"></i>
      </a>
    </div>
    <div class="m-2" [ngClass]="{ 'border-film-strip': !showTirilla }"></div>

    <div
      class="slider-film justify-content-start justify-content-md-center"
      [ngStyle]="{
        transform: 'translateX(-' + currentIndex * (move) + '%)',
    }"
    >
      <div class="slider-item" *ngFor="let item of films; let i = index">
        <a class="link-light" routerLink="/peliculas/ver/{{ item.title }}">
            <img
          src="{{ item.imagesUrlCoverPremier }}"
          alt="{{ item.title }} imagen"
        />
        <span
          class="position-absolute start-50 bottom-0 translate-middle-x bg-danger rounded-top py-1 px-3 fw-bold"
        >
          NUEVO
        </span>
        </a>
      
      </div>
    </div>
    <div class="m-2" [ngClass]="{ 'border-film-strip': !showTirilla }"></div>
    <!--btn-rigth-->
    <div
      class="position-absolute top-50 end-0 translate-middle-y rounded-circle btn-film-strip d-flex justify-content-center align-items-center"
      *ngIf="mostrarbtndesplzamiento"
    >
      <a
        type="button"
        role="button"
        class="text-center stretched-link"
        (click)="nextSlide()"
      >
        <i class="fa-solid text-white fa-angle-right"></i>
      </a>
    </div>
  </div>
</div>
<div
  *ngIf="optestreno == 2"
  style="height: 50vh"
  class="position-relative mt-3 d-flex align-items-center"
>
  <div class="premiere-title-container fs-1 fw-bold text-secondary">
    ESTRENOS
  </div>
  <ngb-carousel *ngIf="films" class="w-100" [showNavigationIndicators]="false">
    <ng-template ngbSlide *ngFor="let item of films">
      <div class="row justify-content-center">
        <div class="col col-md-4 col-lg-4 my-auto d-none d-md-block">
          <h4>{{ item.title }}</h4>
          <p class="fs-6">{{ item.synopsis }}</p>
          <a class="btn btn-primary text-center"  routerLink="/peliculas/ver/{{ item.title }}" role="button">
            Ver más
          </a>
        </div>
        <div class="col-auto">
          <div
            class="position-relative overflow-hidden mx-auto ms-md-auto card-movie"
          >
            <img
              [src]="item.imagesUrlCoverPremier"
              alt="Random first slide"
              class="img-thumbnail"
            />
            <div
              class="position-absolute top-50 start-50 translate-middle d-md-none"
            >
              <button class="btn btn-outline-primary text-center" type="button">
                Ver más
              </button>
            </div>

            <div
              class="bg-dark position-absolute top-100 start-0 translate-middle rounded-circle"
              style="width: 250px; height: 200px"
            >
              <span class="position-absolute fs-3" style="top: 20%; right: 13%">
                Nuevo
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
<div *ngIf="optestreno == 3">
  <app-carousel3d></app-carousel3d>
</div>
<!-- <div *ngIf="option == 2">
  <div class="row m-0 justify-content-start my-3">
    <div class="col-auto ms-3 p-0">
      <div
        class="rounded-circle bg-dark p-2 d-flex justify-content-center align-items-center"
        style="width: 50px; height: 50px"
      >
        <i class="fa-solid fa-video"></i>
      </div>
    </div>
    <div class="col my-auto">
      <p class="fs-3">Estrenos</p>
    </div>
  </div>
  <div class="container-film-strip">
    <div
      class="position-absolute top-50 start-0 translate-middle-y rounded-circle btn-film-strip d-flex justify-content-center align-items-center"
    >
      <a
        type="button"
        role="button"
        class="text-center stretched-link"
        (click)="prevSlide()"
      >
        <i class="fa-solid text-white fa-angle-left"></i>
      </a>
    </div>
    <div
      class="slider-film"
      [style.justifyContent]="justifyFilm"
      [ngStyle]="{
        transform: 'translateX(-' + currentIndex * (100 / 4) + '%)'
      }"
    >
      <div class="slider-item" *ngFor="let item of films">
        <img src="./assets/img/estrenos/Todas-las-pistas.jpg" alt="" />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/la-noche-mas-larga-estrenos.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/la-estrella-estreno.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/El-verano-que-te-vimos-estreno.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/Todas-las-pistas.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/la-noche-mas-larga-estrenos.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
      <div class="slider-item">
        <img
          src="./assets/img/estrenos/la-estrella-estreno.jpg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
    <div
      class="position-absolute top-50 end-0 translate-middle-y rounded-circle btn-film-strip d-flex justify-content-center align-items-center"
    >
      <a
        type="button"
        role="button"
        class="text-center stretched-link"
        (click)="nextSlide()"
      >
        <i class="fa-solid text-white fa-angle-right"></i>
      </a>
    </div>
  </div>
</div> -->
